footer *{
    box-sizing: initial;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal !important;
    margin-bottom: 0px !important;
    line-height: 15px;
    font-size: 16px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;


    display: flex;
    background-color: rgb(240, 240, 240);
    border-top: white 0px solid;
    padding: 10px;
    min-height: 30px;
    flex-basis: 100%;

    align-items: center;
    padding-left: 20px;
    padding-right: 20px;


    z-index:2;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

#imgGit{
    border-radius: 20px;
    box-shadow: 0 0 0 2pt black;
    height: 30px;
    width: auto;
}