header{
    display: flex;
    justify-content: left;
    align-items: center;


    background-color: rgb(2, 158, 219);
    border-bottom: white 0px solid;
    padding: 10px;
    min-height: 40px;
    flex-basis: 100%;

    padding-left: 20px;
    padding-right: 20px;

    z-index:2;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}



.btHeader:visited, .btHeader{
    color: white;
    font-size: 20px;
    text-decoration: none;

    padding: 5px;
    padding-left: 10px;
    margin-left: 10px;

    border-left: 1px solid white;
}


#imgHome{
    height: 40px;
    width: auto;
    border: 2px solid white;
    padding:5px;
    border-radius: 20px;
}