#lbTituloPrincipal{
    font-family: Arial;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
}

#divGeneral{
    height: 100%;
    
    background-image: url("../img/Background/img.png"), linear-gradient(#3c6fba, #16ccdd);    
    background-size: 5px auto, cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloPrincipal{
    font-weight: bold;
    
}

.tales {
    width: 100%;
}

.carousel-inner{
    max-height: 400px;
}